# ===================================================================
# artella-dcc-standalone requirements file
# ===================================================================

artella-plugins-core